/**
@media print {
  body {
    width: 29.7cm;
    height: 21cm;
    margin: 30mm 45mm 30mm 45mm;
  }
}
**/

@font-face {
  font-family: Heebo-Regular;
  src: url(Heebo-Regular.ttf);
}

@font-face {
  font-family: Heebo;
  src: url(Heebo-VariableFont_wght.ttf);
}

body {
  direction: rtl;
  font-family: Heebo-Regular;
  margin: 0;
  padding: 0;
}

.card {
  page-break-before: always;
  position: relative;
  height: 90mm;
  width: 60.2mm;
}

.question {
  background: black;
  color: white;
}

p {
  position: absolute;
  top: -2.5mm;
  right: 6mm;
  font-size: 25px;
  margin-left: 6mm;
  line-height: 1;
}

.card-back-title {
  top: -6.3mm !important;
  font-family: Heebo;
  letter-spacing: -3px !important;
  line-height: 0.9 !important;
  font-weight: 600;
  font-size: 45px;
}

img {
  content: url(default.png);
  width: 12mm;
  position: absolute;
  bottom: 5mm;
  right: 5mm;
}
